/* ===== Base = MOBILE ===== */
.me {
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

    width: 450px;
  padding: 30px 20px;
  border-radius: 20px;
  position: static;   /* mobile: in normal flow */
}

.me-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
}

/* ===== 480px and up = DESKTOP ===== */
@media (min-width: 780px) {
  .me {
    position: fixed;
    top: 77px;
    left: 45px;
    width: 450px;
  width: 350px;
  }
}
