@import 'index.css';
@import './style/Experience.css';
@import './style/Skill.css';
@import './style/Project.css';
@import './style/Me.css';
.title{
 color: var(--hard-text);
 font-weight: 700;
 font-style: bold;
}

.highlight {
  color: var(--soft-text)
}

.section-heading {
  font-size: 90px;
  font-weight: 700;
}

.navbar {
  border: 2px solid var(--prim-black);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1.5rem;
  top: 0;
}
.navbar a{
  color: var(--prim-black);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  border-radius: 50% 20%
}
.navbar a:hover{
  background-color: var(--lime);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer span:hover{
  color: var(--lime);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: underline;
}

.years-exp {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem;
  padding: 1rem 2rem;
}
.year-num {
  font-size: 50px;
  font-weight: 700;
}
.year-label{
  font-size: 20px;
  color: var(--soft-text)
}


.user-img {
  width: 239px;
  height: 284px;
  border-radius: 16px;
}

.my-links  {
  display: flex;
  justify-content: center;
  gap: 20px
}


.my-links > * {
  color: var(--lime)
}

.my-links a {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-links a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--acent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  transform: translateY(-34px;) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.64);
}
.my-links a:hover {
  background-color: var(--acent-color);
  color: white;
}
.my-links a::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--acent-color);
  transform: translateY(-45px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.64);
}
.my-links a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;

}
.my-links a:hover::after{
  transform: translateY(-45px) rotate(0);
  opacity: 1;
}
.user-name {
  font-weight: 1500
}
.user-slogan {
  font-weight: 500
}

