@import 'index.css';
@import './style/Experience.css';
@import './style/Skill.css';
@import './style/Project.css';
@import './style/Me.css';
@import './style/Links.css';

.title{
 color: var(--hard-text);
 font-weight: 700;
 font-style: bold;
}

.highlight {
  color: var(--soft-text)
}

.section-heading {
  font-size: 90px;
  font-weight: 700;
}

.navbar {
  border: 2px solid var(--prim-black);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1.5rem;
  top: 0;
}
.navbar a{
  color: var(--prim-black);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  border-radius: 50% 20%
}
.navbar a:hover{
  background-color: var(--lime);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer span:hover{
  color: var(--lime);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: underline;
}

.years-exp {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem;
  padding: 1rem 2rem;
}
.year-num {
  font-size: 50px;
  font-weight: 700;
}
.year-label{
  font-size: 20px;
  color: var(--soft-text)
}


.user-img {
  width: 239px;
  height: 284px;
  border-radius: 16px;
}

.user-name {
  font-weight: 1500
}
.user-slogan {
  font-weight: 500
}

